<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataService.sharedFormData; let i = index">
      <td>{{ item.firstName }}</td>
      <td>{{ item.lastName }}</td>
      <td>{{ item.email }}</td>

      <td class="action">
        <button class="btn btn-warning" (click)="editBtn(i)">edit</button>
        <button class="btn btn-danger" (click)="deleteBtn(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
