<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
      <button (click)="showMessage()">Show message</button>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of formData; ">
     <td>will</td>
     <td>wright</td>
     <td>ex@gmail.com</td>
      <!-- <td>{{ data?.firstName }}</td>
      <td>{{ data?.lastName }}</td>
      <td>{{ data?.email }}</td> -->
      <!-- <td> <button (click)="editItem(i)">Edit</button> <button (click)="deleteItem(i)">Delete</button></td> -->
    </tr>
  </tbody>
</table>
