<div class="container">
  <form [formGroup]="userDetails" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="fName" class="form-label">First name:</label>
      <input type="text" class="form-control" formControlName="firstName" />
      <br />

      <div
        [ngStyle]="{ color: 'red' }"
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
      >
        <div *ngIf="firstName.errors?.['required']">Name is required.</div>
      </div>
      <div [ngStyle]="{ color: 'red' }" *ngIf="firstName.errors?.['pattern']">
        Requires a minimum of 1 -30 characters
      </div>
    </div>
    <div class="form-control">
      <label for="lName" class="form-label">Last name:</label>
      <input type="text" class="form-control" formControlName="lastName" />
      <br />
      <div
        [ngStyle]="{ color: 'red' }"
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
      >
        <div class="errors" *ngIf="lastName.errors?.['required']">
          Name is required.
        </div>
      </div>
      <div class="errors" *ngIf="lastName.errors?.['pattern']">
        Requires a minimum of 1 -30 characters
      </div>
    </div>

    <div class="form-control">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        name="email"
        class="form-control"
        formControlName="email"
      />
      <br />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="errors" *ngIf="email.errors?.['required']">
          Email is required
        </div>
      </div>
      <div class="errors" *ngIf="email.errors?.['pattern']">
        Requires a valid email address
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="userDetails.invalid"
    >
      Submit
    </button>
    <button
      type="submit"
      class="btn btn-warning"
      value="reset"
      (click)="userDetails.reset()"
    >
      Reset
    </button>
    <br />
  </form>
</div>
